.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.cart--title {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: .75em;
}

.cart__product {
    padding: 1.4em 12rem;
}

.cart__remove {
    width: 25%;
    margin: auto;
    height: 2.3em;
    background-color: red;
    border: red;
    color: white;
    border-radius: .1em;
    font-weight: bold;
}