.register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.register--title {
    text-align: center;
    font-size: 2.3em;
    margin-bottom: .5em;
}

.register__form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    padding: 2em 1em;
}

.register__text {
    margin:.5em 0em;
    height: 2em;
    background-color: #F5F5F5;
    border: #F5F5F5;
}

.register__submit {
    margin: 1em 0em;
    height: 2.3em;
    background-color: #C09E65;
    border: #C09E65;
    color: white;
    border-radius: .1em;
    font-weight: bold;
}